<div class="d-flex justify-content-between mb-3">
  <h2>ダミーデータ</h2>
  <%= link_to 'Excelをインポート', new_dummy_path, class:"btn btn-success" %>
</div>
<hr class="mb-4">

<table class="table mt-5">
  <thead class="thead-dark">
    <tr>
      <th scope="col">配送日</th>
      <th scope="col">ドライバー名</th>
      <th scope="col">出発地</th>
      <th scope="col">納入先</th>
    </tr>
  </thead>
  <tbody>
    <% @dummies.each do |dummy| %>
      <tr>
        <td><%= dummy.delivery_date %></td>
        <td><%= dummy.user.name %></td>
        <td><%= dummy.departure_place %></td>
        <td>
          <%= dummy.delivery_destination.delivery_destination_name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @dummies, theme: 'twitter-bootstrap-4' %>
