<div class="d-flex justify-content-between">
  <h2 class="mb-3">トラック一覧</h2>
  <%= link_to 'Excelをインポート', new_truck_path, class:"btn btn-success" %>
</div>
<hr class="mb-4">
<%= search_form_for(@q, url: trucks_path) do |f| %>
  <div class="form-group row">
    <div class="col-3">
      <%= f.label "荷台" %>
    </div>
    <div class="col-9">
      <%= f.number_field :carrier_eq, class:"form-control" %>
    </div>
  </div>
  <br>
  <%= f.submit '検索', class:"btn btn-primary shadow" %>
<% end %>



<table class="table mt-5">
  <thead class="thead-dark">
    <tr>
      <th scope="col">管理番号</th>
      <th scope="col">最大積載量</th>
      <th scope="col">荷台</th>
    </tr>
  </thead>
  <% if @truck_results.present? %>
    <tbody>
      <% @truck_results.each do |truck| %>
        <tr>
          <td><%= truck.truck_number %></td>
          <td><%= truck.load_capacity %></td>
          <td><%= truck.carrier %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
<%= paginate @truck_results, theme: 'twitter-bootstrap-4' %>
