<h2 class="mb-3">走行距離<small>(ドライバー別)</small></h2>
<hr class="mb-4">
<div class="row">
  <div class="col-6">
    <%= search_form_for(@q, url: mileages_path) do |f| %>
      <div class="form-group row">
        <div class="col-3">
          <%= f.label "配送日" %>
        </div>
        <div class="col-4">
          <%= f.date_field :delivery_date_gteq, class:"form-control" %>
        </div>
        <div class="col-1">〜</div>
        <div class="col-4">
          <%= f.date_field :delivery_date_lteq, class:"form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-3">
          <%#= f.label "ドライバー名" %>
        </div>
        <div class="col-9">
          <%#= f.text_field :user_name_eq, class:"form-control" %>
        </div>
      </div>
      <br>
      <%= f.submit '検索', class:"btn btn-primary shadow" %>
    <% end %>
    <div class="text-center py-5">
      <button id="btn" class="btn btn-primary">変更する</button>
    </div>

    <input type="hidden" id = "drivers" value=<%= @drivers %> >
    <input type="hidden" id = "average" value=<%= @mileages_average %> >
    <input name="arr_json" type="hidden" value=<%= @driver_mileages %> id='driverMileages'/>

    <input type="hidden" id = "dummyDrivers" value=<%= @dummy_drivers %> >
    <input type="hidden" id = "dummyAverage" value=<%= @dummy_mileages_average %> >
    <input name="arr_json" type="hidden" value=<%= @dummy_driver_mileages %> id='dummyDriverMileages'/>
  </div>
  <div id="click1" class="col-6 view">
    <canvas id="myChart" class="mt-3"></canvas>
    <%= link_to '日付別', date_mileages_path , class:'btn btn-success'%>
  </div>
  <div id="click2" class="col-6 inview">
    <canvas id="myChart2" class="mt-3"></canvas>
    <%= link_to '日付別', date_mileages_path , class:'btn btn-success'%>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
const driversJson = $('#drivers').val();
var drivers = JSON.parse(driversJson);
const driverMileagesJson = $('#driverMileages').val();
var mileages = JSON.parse(driverMileagesJson);
const average = document.getElementById('average').value

$('#btn').on('click', function (){
  $('#click1').toggleClass('view').toggleClass("inview");
  $('#click2').toggleClass('view').toggleClass("inview");
});
goals = [293, 290 ,445, 340 ,540, 600, 220, 240, 600]
backgroundColors = []
mileages.forEach(function(value, index){
  if(value - goals[index] >= 0){
    backgroundColors.push('rgba(255, 99, 132, 0.2)');
  }else{
    backgroundColors.push('white');
  }
});

var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: drivers,
        datasets: [{
            label: 'ドライバー別',
            data: mileages,
            borderWidth: 1,
            backgroundColor: backgroundColors,
            borderColor: [
                'rgba(255, 99, 132, 1)'
            ],
        },
         {
          label: '目標',
          data: goals,
          type: 'line',
          backgroundColor: [
                'blue'
            ],
        }
        ]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

const dummyDriversJson = $('#dummyDrivers').val();
var dummyDrivers = JSON.parse(dummyDriversJson);
const dummyDriverMileagesJson = $('#dummyDriverMileages').val();
var dummyMileages = JSON.parse(dummyDriverMileagesJson);
const dummyAverage = document.getElementById('dummyAverage').value

var ctx2 = document.getElementById('myChart2');
var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: dummyDrivers,
        datasets: [{
            label: 'ドライバー',
            data: dummyMileages,
            // data: [1,1,1,1,1,1,1,1],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
<style>
  .view{
    display:block;
  }
  .inview{
    display:none;
  }
</style>
