<h2 class="mb-3">荷物情報</h2>
<hr class="mb-4">
<%= search_form_for(@q, url: loads_path) do |f| %>
  <div class="form-group row">
    <div class="col-3">
      <%= f.label "配送日" %>
    </div>
    <div class="col-4">
      <%= f.date_field :delivery_content_delivery_date_gteq, class:"form-control" %>
    </div>
    <div class="col-1">〜</div>
    <div class="col-4">
      <%= f.date_field :delivery_content_delivery_date_lteq, class:"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-3">
      <%= f.label "ドライバー" %>
    </div>
    <div class="col-9">
      <%= f.text_field :delivery_content_user_name_eq, class:"form-control" %>
    </div>
  </div>
  <br>
  <%= f.submit '検索', class:"btn btn-primary shadow" %>
<% end %>
<table class="table mt-5">
  <thead class="thead-dark">
    <tr>
      <th scope="col">配送日</th>
      <th scope="col">伝票番号</th>
      <th scope="col">荷物名</th>
      <th scope="col">ドライバー</th>
    </tr>
  </thead>
  <% if @load_results.present? %>
    <tbody>
      <% @load_results.each do |load| %>
        <tr>
          <th><%= load.delivery_content.delivery_date %></th>
          <td><%= load.load_number %></td>
          <td><%= load.material %></td>
          <td><%= load.delivery_content.user.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
