<h2 class="mb-3">積載率</h2>
<hr class="mb-4">
<div id="app" class="row">
  <div class="col-6">
    <%= search_form_for(@q, url: loading_rates_path) do |f| %>
      <div class="form-group row">
        <div class="col-3">
          <%= f.label "配送日" %>
        </div>
        <div class="col-4">
          <%= f.date_field :delivery_date_gteq, class:"form-control" %>
        </div>
        <div class="col-1">〜</div>
        <div class="col-4">
          <%= f.date_field :delivery_date_lteq, class:"form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-3">
          <%= f.label "車両" %>
        </div>
        <div class="col-9">
          <%= f.text_field :truck_truck_number_eq, class:"form-control" %>
        </div>
      </div>
      <br>
      <%= f.submit '検索', class:"btn btn-primary shadow" %>
    <% end %>

    <table class="table mb-3 mt-5">
      <% if @delivery_contents_results.present? %>
        <table class="table mb-3">
          <tr>
            <th>
              全走行距離
            </th>
            <th>
              貨物を積んで走行した距離
            </th>
            <th>
              積載率
            </th>
          </tr>
          <tr>
            <td><%= @total_distance %></td>
            <td><%= @actual_vehicle_distance %></td>
            <td>
              <%=@loading_rate %>%
            </td>
          </tr>
        <table>
      <% end %>
    </table>
  </div>
  <input type="hidden" id = "loadingRate" value=<%= @loading_rate %> >
  <div class="col-6">
    <canvas id="myChart"></canvas>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const loadingRate = document.getElementById('loadingRate').value
// alert(actual_vehicle_distance)
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['積載率', ''],
        datasets: [{
            label: '# of Votes',
            data: [ loadingRate ,100 - loadingRate],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
