
<div class="d-flex justify-content-between mb-3">
  <h2>ドライバー情報</h2>
  <%= link_to 'Excelをインポート', new_driver_path, class:"btn btn-success" %>
</div>
<hr class="mb-4">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">運転者氏名</th>
      <th scope="col">事業所</th>
      <th scope="col">資格</th>
      <th scope="col">車両</th>
      <th scope="col">リフト</th>
      <th scope="col">玉掛け</th>
      <th scope="col">ちゃぶり</th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.name %></td>
        <td><%= driver.driver_office %></td>
        <td><%= license(driver.driver_license) %></td>
        <td><%= Truck.joins(:user).find_by(users: {name: driver.name}).truck_number %></td>
        <td><%= check(driver.is_lift) %></td>
        <td><%= check(driver.is_slinging) %></td>
        <td><%= check(driver.is_chaburi) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @drivers, theme: 'twitter-bootstrap-4' %>
